* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    padding: 1rem;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg,
            hsl(206deg 100% 50%) 0%,
            hsl(203deg 100% 50%) 21%,
            hsl(200deg 100% 49%) 30%,
            hsl(197deg 100% 48%) 39%,
            hsl(194deg 100% 46%) 46%,
            hsl(193deg 78% 52%) 54%,
            hsl(191deg 67% 58%) 61%,
            hsl(188deg 57% 62%) 69%,
            hsl(184deg 46% 66%) 79%,
            hsl(179deg 36% 70%) 100%);
    overflow: auto;
}

.dark {
    background-image: linear-gradient(180deg,
            hsl(218deg 33% 16%) 0%,
            hsl(230deg 31% 18%) 18%,
            hsl(239deg 31% 20%) 26%,
            hsl(247deg 36% 21%) 33%,
            hsl(251deg 42% 22%) 39%,
            hsl(255deg 47% 23%) 44%,
            hsl(258deg 52% 24%) 50%,
            hsl(260deg 58% 25%) 56%,
            hsl(261deg 64% 26%) 61%,
            hsl(263deg 70% 26%) 67%,
            hsl(265deg 78% 27%) 74%,
            hsl(266deg 88% 27%) 82%,
            hsl(268deg 100% 26%) 100%);
}

.fa-moon {
    color: #b2dbff;
}

.fa-sun {
    color: yellow;
}

.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 10px;

    .header__greeting {
        color: black;
        font-weight: bold;
        font-size: 1rem;
        background: transparent;
    }

    .header__search-wrapper {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0px 0px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid #eeeaea5e;
        border-radius: 20px;
        height: 4.5vh;
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0rem 1rem;
    }

    .header__search-input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }

    .header__search-input::placeholder {
        color: white;
        font-weight: light;
    }

    .header__theme-wrapper {
        height: 4.5vh;
        width: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0px 0px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid #eeeaea5e;
        border-radius: 20px;
    }

    .header__theme {
        height: 4.5vh;
        width: 100%;
        border-radius: 20px;
        border: none;
        background: transparent;
    }

    .header__theme-light {
        height: 4.5vh;
        width: 100%;
        border-radius: 50%;
        border: none;
        background: transparent;
    }

    .header__theme-dark {
        height: 4.5vh;
        width: 100%;
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    .selected {
        color: white;
        border-radius: 20px;
        width: 2rem;
    }

    .none {
        display: none;
    }
}

.fa-map-marker-alt {
    color: white;
}

.forecast {

    .no {
        display: none;
    }

    .forecast__title {
        font-size: 3rem;
        font-weight: 200;
        color: white;
        text-align: center;
    }

    .forecast__spinner {
        align-self: center;
        height: 100px;
        width: 100px;
    }

    .forecast__weather-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 20px;
        height: 35vh;
    }

    .forecast__tempicon-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .forecast__temp-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .forecast__icon {
        width: 50%;
    }

    .forecast__temp {
        font-size: 4.25rem;
        font-weight: light;
        color: white;
    }

    .forecast__details {
        text-transform: capitalize;
        font-size: 1rem;
        color: white;
    }

    .forecast__location-wrapper {
        display: flex;
        align-items: center;
        width: fit-content;
    }

    .forecast__location {
        align-self: center;
        font-size: 1rem;
        font-weight: 300;
        padding-right: .25rem;
        color: white;
    }

    .forecast__timedatelocation-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .forecast__timedate-wrapper {
        display: flex;
        width: fit-content;
    }

    .forecast__date {
        font-weight: 300;
        font-size: 1rem;
        color: white;
    }

    .forecast__time {
        font-weight: 300;
        font-size: 1rem;
        padding-left: .25rem;
        color: white;
    }

}

.hourly-forecast {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: .5rem;
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 #00000045;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 25vh;
    width: 100%;
 

    .hourly-forecast__details {
        box-sizing: border-box;
        padding: .5rem;
        font-size: .875rem;
        font-weight: 400;
        text-align: center;
        color: white;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    }

    .hourly-forecast__list {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: .5rem 0rem;
    }

    .hourly-forecast__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .hourly-forecast__hour{
        color: white;
        font-weight: 200;
    }

    .hourly-forecast__weathericon {
        height: 50%;
        width: 60%;
    }

    .hourly-forecast__temp {
        color: white;
        font-size: 1.25rem;
    }
}

